<table>
    <tr>
        <td id="tdAnalysisSampleType" style="vertical-align:top;">
            <div id="divSampleType">
                <div id="divSampleType_label" class="admin_page_label">
                    Select Sample Type
                </div>
                <div id="divSampleType_obj" class="ui-widget-header ui-helper-clearfix forcecorner" style="width: 210px; height:300px;margin:5px 0 0 0;padding:0;"></div>
            </div>
        </td>
        <td>&nbsp;</td>
        <td id="tdAnalysisSampleApplication" style="vertical-align:top;display:none;">
            <div id="divAnalysisSampleApplication">
                <div id="divAnalysisSampleApplication_label" class="admin_page_label">
                        Select Application
                </div>
                <div id="divAnalysisSampleApplication_obj" class="ui-widget-header ui-helper-clearfix forcecorner" style="width: 210px; height:300px;margin:5px 0 0 0;padding:0;"></div>
            </div>
        </td>
        <td>&nbsp;</td>
        <td id="tdEquipment" style="vertical-align:top;display:none;">
            <div id="divEquipment">
                <div id="divEquipment_label" class="admin_page_label">
                        Select Equipment
                </div>
                <div id="divEquipment_obj" class="ui-widget-header ui-helper-clearfix forcecorner" style="width: 210px; height:300px;margin:5px 0 0 0;padding:0;">
                    <ul id="ul_equipment_obj" class="ulnostyle"></ul>
                </div>
            </div>
        </td>
        <td>&nbsp;</td>
        <td id="tdEquipmentDetailsCondition" style="vertical-align:top;display:none;">
            <div id="divEquipmentDetailsCondition_label" class="admin_page_label">Test</div>
            <div id="divEquipmentDetailsCondition" class="ui-widget-header ui-helper-clearfix forcecorner" style="width: 500px; height:300px;">
                <table>
                    <tr>
                        <td style="width:55%;vertical-align:top;">
                            <div class="admin_page_label">
                                    Equipment Details
                            </div>
                            <br />
                            <table style="width:100%">
                                <tr>
                                    <td style="width:50%;" class="admin_page_label">Samples</td>
                                    <td style="width:50%;"><input id="txt_New_TestSampleDetails_NumberofSamples" type="text" class="bootstrapInputStyle forcecorner" style="width:80px;" /></td>
                                </tr>
                                <tr style="margin-top:4px;">
                                    <td class="admin_page_label">Min Quantity</t>
                                    <td><input id="txt_New_TestSampleDetails_MinQty" type="text" class="bootstrapInputStyle forcecorner" style="width:80px;" />&nbsp;<span id="txt_New_TestSampleDetails_MinQty_Unit"></span></td>
                                </tr>
                                <tr style="margin-top:4px;">
                                    <td class="admin_page_label">Ideal Quantity</td>
                                    <td><input id="txt_New_TestSampleDetails_IdealQty" type="text" class="bootstrapInputStyle forcecorner" style="width:80px;"/>&nbsp;<span id="txt_New_TestSampleDetails_IdealQty_Unit"></span></td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:45%;vertical-align:top;">
                            <div class="admin_page_label">
                                Equipment Conditions
                            </div>
                            <div id="divequipmentcondition_obj" class="ui-widget-header ui-helper-clearfix forcecorner" style="width: 220px; height:260px;margin:5px 0 0 0;padding:0;overflow:auto;"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>