<table cellpadding="5" cellspacing="5" style="margin: 0px;width:100%;">
    <tr>
        <td style="width:35%" class="admin_page_label">Requirement Type&nbsp;<font class="required" style="font-weight:bold;">*</font> :</td>
        <td style="width:65%"><select id="select_TestRequirementDetails_RequirementType" class="select-form-control" style="width:290px;" title='Please Select' tabindex="1"></select></td>
    </tr>
    <tr>
        <td class="admin_page_label">Standard Requirement&nbsp;<font class="required" style="font-weight:bold;">*</font> :</td>
        <td><select id="select_TestRequirementDetails_StandardRequirement" class="select-form-control" style="width:290px;" title='Please Select' tabindex="2"></select></td>
    </tr>
    <tr>
        <td class="admin_page_label">Description :</td>
        <td ><textarea  id="txt_TestRequirementDetails_Description" type="text" class="form-control" rows="5" style="width:290px;" tabindex="3" /></td>
    </tr>
</table>
<br />
<div style="padding-left:3px;">
<button id="btn_SaveTestRequirementDetailsData" type="button" >Submit</button>
<button id="btn_CancelTestRequirementDetailsData" type="button">Cancel</button>
<br />
<span class="note"><font class="required" style="font-weight:bold;">*</font>&nbsp;Denotes Required Field.</span>
</div>
