<table cellpadding="5" cellspacing="5" style="margin: 0px;">
    <tr>
        <td class="admin_page_label">Table Name&nbsp;<font class="required" style="font-weight:bold;">*</font> :</td>
        <td><input id="txt_NewLookUpTableName" type="text" class="form-control" style="width:220px;" tabindex="1" ></td>
    </tr>
    <tr>
        <td class="admin_page_label">Field Name&nbsp;<font class="required" style="font-weight:bold;">*</font> :</td>
        <td><input id="txt_NewLookUpFieldName" type="text" class="form-control" style="width:220px;" tabindex="2"></td>
    </tr>
    <tr>
        <td class="admin_page_label">Value Code&nbsp;<font class="required" style="font-weight:bold;">*</font> :</td>
        <td><input id="txt_NewLookUpValueCode" type="text" class="form-control" style="width:220px;" tabindex="3"></td>
    </tr>
    <tr>
        <td class="admin_page_label">Value Description :</td>
        <td><input id="txt_NewLookUpValueDescription" type="text" class="form-control" style="width:220px;" tabindex="4"></td>
    </tr>
    <tr>
        <td class="admin_page_label">Display Order :</td>
        <td><input id="txt_NewLookUpDisplayOrder" type="text" class="bootstrapInputStyle forcecorner" style="width:100px;" tabindex="5" /></td>
    </tr>
    <tr>
        <td class="admin_page_label">Owner Field Name :</td>
        <td><input id="txt_NewLookUpOwnerFieldName" type="text" class="form-control" style="width:220px;" tabindex="6"></td>
    </tr>
    <tr>
        <td class="admin_page_label">Owner Value :</td>
        <td><input id="txt_NewLookUpOwnerValue" type="text" class="form-control" style="width:220px;" tabindex="7"></td>
    </tr>
    <tr>
        <td class="admin_page_label">Default Value :</td>
        <td>
            <input id="chk_NewLookUpDefaultValue" type="checkbox" tabindex="8">
        </td>
    </tr>
    <tr>
        <td class="admin_page_label">System Required :</td>
        <td>
            <input id="chk_NewLookUpSystemRequired" type="checkbox" tabindex="9">
        </td>
    </tr>
    <tr>
        <td class="admin_page_label">Aliased:</td>
        <td>
            <input id="chk_NewLookUpAliased" type="checkbox" tabindex="10">
        </td>
    </tr>
    <tr>
        <td class="admin_page_label">Value for action:</td>
        <td><input id="txt_NewLookUpValueforAction" type="text" class="form-control" style="width:220px;" tabindex="11"></td>
    </tr>
    <tr>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td colspan="4" style="margin-left:0px;">
            <button id="btn_SaveNewLookUpData" type="button" class="btn btn-default" tabindex="12">Submit</button>
            <button id="btn_CancelNewLookUpData" type="button" class="btn btn-default" tabindex="13">Cancel</button>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="note">
            <font class="required" style="font-weight:bold;">*</font>&nbsp;Denotes Required Field.
        </td>
    </tr>
</table>