<table cellpadding="5" cellspacing="5" style="margin: 0px;">
    <tr>
        <td class="admin_page_label">Table Name&nbsp;<font class="required" style="font-weight:bold;">*</font> :</td>
        <td><input id="txt_EditLookUpTableName" type="text" class="form-control" style="width:220px;" tabindex="1" ></td>
    </tr>
    <tr>
        <td class="admin_page_label">Field Name&nbsp;<font class="required" style="font-weight:bold;">*</font> :</td>
        <td><input id="txt_EditLookUpFieldName" type="text" class="form-control" style="width:220px;" tabindex="2"></td>
    </tr>
    <tr>
        <td class="admin_page_label">Value Code&nbsp;<font class="required" style="font-weight:bold;">*</font> :</td>
        <td>
            <input id="txt_EditLookUpValueCode" type="text" class="form-control" style="width:220px;" tabindex="3">
            <input type="hidden" id="hdn_ValueCode" />
        </td>
    </tr>
    <tr>
        <td class="admin_page_label">Value Description :</td>
        <td><input id="txt_EditLookUpValueDescription" type="text" class="form-control" style="width:220px;" tabindex="4"></td>
    </tr>
    <tr>
        <td class="admin_page_label">Display Order :</td>
        <td>
            <input id="txt_EditLookUpDisplayOrder" type="text" class="bootstrapInputStyle forcecorner" style="width:100px;" tabindex="5" />
            <input type="hidden" id="hdn_DisplayOrder" />
        </td>
    </tr>
    <tr>
        <td class="admin_page_label">Owner Field Name :</td>
        <td><input id="txt_EditLookUpOwnerFieldName" type="text" class="form-control" style="width:220px;" tabindex="6"></td>
    </tr>
    <tr>
        <td class="admin_page_label">Owner Value :</td>
        <td><input id="txt_EditLookUpOwnerValue" type="text" class="form-control" style="width:220px;" tabindex="7"></td>
    </tr>
    <tr>
        <td class="admin_page_label">Default Value :</td>
        <td>
            <input id="chk_EditLookUpDefaultValue" type="checkbox" tabindex="8">
        </td>
    </tr>
    <tr>
        <td class="admin_page_label">System Required :</td>
        <td>
            <input id="chk_EditLookUpSystemRequired" type="checkbox" tabindex="9">
        </td>
    </tr>
    <tr>
        <td class="admin_page_label">Aliased:</td>
        <td>
            <input id="chk_EditLookUpAliased" type="checkbox" tabindex="10">
        </td>
    </tr>
    <tr>
        <td class="admin_page_label">Value for action:</td>
        <td><input id="txt_EditLookUpValueforAction" type="text" class="form-control" style="width:220px;" tabindex="11"></td>
    </tr>
    <tr>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td colspan="4" style="margin-left:0px;">
            <button id="btn_SaveEditLookUpData" type="button" class="btn btn-default" tabindex="12">Save Changes</button>
            <button id="btn_DeleteLookUpData" type="button" class="btn btn-default" tabindex="13">Delete</button>
            <button id="btn_CancelEditLookUpData" type="button" class="btn btn-default" tabindex="14">Cancel</button>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="note">
            <font class="required" style="font-weight:bold;">*</font>&nbsp;Denotes Required Field.
        </td>
    </tr>
</table>