<table>
    <tr>
        <td id="tdRequirementType_Summary" style="vertical-align:top;">
            <div id="divRequirementType_Summary">
                <div id="divRequirementType_label_Summary" class="admin_page_label">
                    Requirement Type
                </div>
                <div id="divRequirementType_obj_Summary" class="ui-widget-header ui-helper-clearfix forcecorner" style="width: 210px; height:300px;margin:5px 0 0 0;padding:0;"></div>
            </div>
        </td>
        <td>&nbsp;</td>
        <td id="tdStandardCondition_Summary" style="vertical-align:top;display:none;">
            <div id="divStandardCondition_Summary">
                <div id="divStandardCondition_label_Summary" class="admin_page_label">
                        Standard Condition
                </div>
                <div id="divStandardCondition_obj_Summary" class="ui-widget-header ui-helper-clearfix forcecorner" style="width: 210px; height:300px;margin:5px 0 0 0;padding:0;"></div>
            </div>
        </td>
    </tr>
</table>