<table>
    <tr>
        <td id="tdAnalysisSampleType_Summary" style="vertical-align:top;">
            <div id="divSampleType">
                <div id="divSampleType_label_Summary" class="admin_page_label">
                    Sample Type
                </div>
                <div id="divSampleType_obj_Summary" class="ui-widget-header ui-helper-clearfix forcecorner" style="width: 210px; height:300px;margin:5px 0 0 0;padding:0;"></div>
            </div>
        </td>
        <td>&nbsp;</td>
        <td id="tdAnalysisSampleApplication_Summary" style="vertical-align:top;display:none;">
            <div id="divAnalysisSampleApplication_Summary">
                <div id="divAnalysisSampleApplication_label_Summary" class="admin_page_label">
                        Select Application
                </div>
                <div id="divAnalysisSampleApplication_obj_Summary" class="ui-widget-header ui-helper-clearfix forcecorner" style="width: 210px; height:300px;margin:5px 0 0 0;padding:0;"></div>
            </div>
        </td>
        <td>&nbsp;</td>
        <td id="tdEquipment_Summary" style="vertical-align:top;display:none;">
            <div id="divEquipment_Summary">
                <div id="divEquipment_label_Summary" class="admin_page_label">
                        Equipment
                </div>
                <div id="divEquipment_obj_Summary" class="ui-widget-header ui-helper-clearfix forcecorner" style="width: 210px; height:300px;margin:5px 0 0 0;padding:0;">
                    <ul id="ul_equipment_obj_Summary" class="ulnostyle"></ul>
                </div>
            </div>
        </td>
        <td>&nbsp;</td>
        <td id="tdEquipmentDetailsCondition_Summary" style="vertical-align:top;display:none;">
            <div id="divEquipmentDetailsCondition_label_Summary" class="admin_page_label">Test</div>
            <div id="divEquipmentDetailsCondition_Summary" class="ui-widget-header ui-helper-clearfix forcecorner" style="width: 480px; height:300px;">
                <table>
                    <tr>
                        <td style="width:55%;vertical-align:top;">
                            <div class="admin_page_label">
                                    Equipment Details
                            </div>
                            <br />
                            <table style="width:100%;">
                                <tr>
                                    <td style="width:50%;" class="admin_page_label">Samples</td>
                                    <td style="width:50%;"><input id="txt_New_TestSampleDetails_NumberofSamples_Summary" type="text" class="bootstrapInputStyle forcecorner" readonly style="width:80px;" /></td>
                                </tr>
                                <tr style="margin-top:4px;">
                                    <td class="admin_page_label">Min Quantity</t>
                                    <td><input id="txt_New_TestSampleDetails_MinQty_Summary" type="text" class="bootstrapInputStyle forcecorner" readonly style="width:80px;" /></td>
                                </tr>
                                <tr style="margin-top:4px;">
                                    <td class="admin_page_label">Ideal Quantity</td>
                                    <td><input id="txt_New_TestSampleDetails_IdealQty_Summary" type="text" class="bootstrapInputStyle forcecorner" readonly style="width:80px;"/></td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:45%;vertical-align:top;">
                            <div class="admin_page_label">
                                Equipment Conditions
                            </div>
                            <div id="divequipmentcondition_obj_Summary" class="ui-widget-header ui-helper-clearfix forcecorner" style="width: 220px; height:260px;margin:5px 0 0 0;padding:0;overflow:auto;"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>