<table>
    <tr>
        <td id="tdRequirementType" style="vertical-align:top;">
            <div id="divRequirementType">
                <div id="divRequirementType_label" class="admin_page_label">
                    Select Requirement Type
                </div>
                <div id="divRequirementType_obj" class="ui-widget-header ui-helper-clearfix forcecorner" style="width: 210px; height:300px;margin:5px 0 0 0;padding:0;"></div>
            </div>
        </td>
        <td>&nbsp;</td>
        <td id="tdStandardCondition" style="vertical-align:top;display:none;">
            <div id="divStandardCondition">
                <div id="divStandardCondition_label" class="admin_page_label">
                        Select Standard Condition
                </div>
                <div id="divStandardCondition_obj" class="ui-widget-header ui-helper-clearfix forcecorner" style="width: 210px; height:300px;margin:5px 0 0 0;padding:0;"></div>
            </div>
        </td>
    </tr>
</table>