<table cellpadding="5" cellspacing="5" style="margin: 0px;width:100%;">
    <tr>
        <td style="width:35%" class="admin_page_label">Step Order :</td>
        <td style="width:65%"><input id="txt_TestTutorialStepsDetail_StepOrder" type="text" class="bootstrapInputStyle forcecorner" style="width:100px;" tabindex="1" /></td>
    </tr>
    <tr>
        <td class="admin_page_label">Description :</td>
        <td ><textarea  id="txt_TestTutorialStepDetails_Description" type="text" class="form-control" rows="5" style="width:290px;" tabindex="2" /></td>
    </tr>
     <tr>
            <td colspan="2">
                <form enctype="multipart/form-data">
                    <table style="width:100%;padding:0;margin:0;">
                        <tr>
                            <td style="width:35%" class="admin_page_label">Image :</td>
                            <td style="width:65%">
                                <input id="txt_TestTutorialStepsDetail_Image" name="txt_TestTutorialStepsDetail_Image" type="file" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <td class="admin_page_label">Video :</td>
                            <td >
                                <input id="txt_TestTutorialStepsDetail_Video" name="txt_TestTutorialStepsDetail_Video" type="file" class="form-control">
                            </td>
                        </tr>
                    </table>
                </form>
            </td>
        </tr>
</table>
<br />
<div style="padding-left:3px;">
<button id="btn_SaveTestTutorialStepDetailsData" type="button" >Submit</button>
<button id="btn_CancelTestTutorialStepDetailsData" type="button">Cancel</button>
<br />
<span class="note"><font class="required" style="font-weight:bold;">*</font>&nbsp;Denotes Required Field.</span>
</div>
